* {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #DAA588;
}

body {
    background: #28262C;
}

.main-buttons--container {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.main--buttons {
    background: none;
    border: 3px solid #DAA588;
    font-size: 30px;
    margin: 0 6%;
}

.format-buttons--container {
    display: flex;
}

.counter--container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.counter--card {
    text-align: center;
    border: 5px solid #DAA588;
    width: 30%;
    height: 50%;
    margin: 4%;
}

.counter--header {
    font-size: 70px;
    text-decoration: underline;
    margin: 0;
}

.counter--value {
    font-size: 100px;
    margin-top: 0px;
}

.counter--buttons {
    margin: 20px;
    display: flex;
    justify-content: space-around;
}

.counter--buttons button {
    background: none;
    border: 1px solid #DAA588;
    padding: 5px 10px;
    font-size: 20px;
}

.player--button {
    margin: 3%;
}

.player--button button {
    background: none;
}

.name--input {
    border: 1px solid #DAA588;
    background: none;
    text-align: center;
}

.name--button {
    border: 1px solid #DAA588;
}