* {
    font-family: 'Beleren', sans-serif;
    text-transform: uppercase;
    color: #fff;
}

@font-face {
    font-family: 'Beleren';
    src: url(Beleren2016-Bold.ttf);
}

body {
    background: url(black_paper.png);
}

.hover--blue:hover {
    color: #0051d4;
}

.hover--green:hover {
    color: #008a29;
}

.hover--red:hover {
    color: #8a0005;
}

.main-buttons--container {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.main--buttons {
    background: rgba(255,255,255,0.05);
    border: 3px solid #fff;
    font-size: 30px;
    margin: 0 6%;
    padding: 10px;
}

.format-buttons--container {
    display: flex;
}

.counter--container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.counter--card {
    text-align: center;
    background: rgba(255,255,255,0.05);
    border: 5px solid #fff;
    width: 30%;
    height: 50%;
    margin: 4%;
}

.counter--header {
    font-size: 70px;
    margin: 0;
    padding-top: 20px;
}

.counter--value {
    font-size: 100px;
    margin-top: 0px;
}

.counter--buttons {
    margin: 20px;
    display: flex;
    justify-content: space-around;
}

.counter--buttons button {
    background: none;
    border: 1px solid #fff;
    padding: 5px 10px;
    font-size: 20px;
}

.player--button {
    margin: 3%;
}

.player--button button {
    background: none;
}

.name--input {
    border: 1px solid #fff;
    background: none;
    text-align: center;
}

.name--button {
    border: 1px solid #fff;
}

.remove--button {
    border: 1px solid #fff;
    background: none;
    margin-bottom: 4%;
}